   p {
       color: darkslateblue;
       font-family: Arial, Helvetica, sans-serif;
   }
   h1 {
       color: black;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: bolder;
   }
   h2 {
       color:black;
       font-family: Arial, Helvetica, sans-serif;
    }
    h3  {
        color: darkorchid;
        font-family: Arial, Helvetica, sans-serif;
    }
    h4  {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    li  {
        color: darkslateblue;
        font-family: Arial, Helvetica, sans-serif;
    }
    body {
        background-image: url(FondoC.jpg);
    }