* {
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;

}
  p {
       color: darkslateblue;
   }
   h1 {
       border: 5px solid grey;
       color: black;
       font-weight: bolder;
   }
   h2 {
       color:black;
    }
    h3  {
        color: darkorchid;
    }
    h4  {
        color: black;
    }
    h1{
        background-color: azure;
        border-radius: 5px 10px 5px 10px;
    }
    li  {
        color: darkslateblue;
    }
    body {
        font-size: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23a192ac' fill-opacity='0.58'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        font-family: cursive;
        align-items: center;
        margin: 20px;
    }
    /*Series y peliculas*/
    .series {
        border: 5px solid grey;
        width: 300px;
        height: 300px;
        background-color: #b4ac9f;

    }
    .peliculas {
        border: 5px solid grey;
        width: 300px;
        height: 300px;
        background-color: #b4ac9f;
    }
    .perfil {
        border: 5px solid grey;
        width: 300px;
        height: 220px;
        background-color: #b4ac9f;
    } 